#solve-quadratic-equation-form {
    position: relative;
}
input:not([type=submit]) {
    display: inline-block;
    width: 80px !important;
    text-align: center;
}
input + span.helper-text {
    position: absolute;
    margin-left: -80px;
    margin-top: 50px;
    font-size: 13px;
}
input[type=submit] {
    margin: 8px 0;
}

#toast-container {
    top: auto !important;
    bottom: 10%;
}